/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;400;700&display=swap');

/* Core Styles */
body {
	font-family: 'JetBrains Mono', monospace;
	text-align: left;
	line-height: 1.6;
	background-color: #121523;
	color: #fbfbfb;
}

.logo {
	width: 7%;
}

a {
	color: #2780e0;
}

h1,
h2 {
	text-align: left;
	color: #fcfcfc;
}

li::before {
	content: '• ';
	color: #1194e1;
}

p {
	color: #9a8bf1;
}


a:hover {
	text-decoration: underline;
}


/* Layout */
.container {
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
}

.main-header,
h1 {
	font-weight: 100 !important;
	text-align: left;
	margin-bottom: 30px;
}

/* Content */
h2,
h3 {
	font-weight: 700;
}

.introduction {
	font-size: 1em;
	margin-bottom: 40px;
}

.explore-header {
	margin-top: 60px;
}

.link-list {
	list-style-type: none;
	padding: 0;
}

.link-item {
	margin-bottom: 10px;
	padding-left: 20px;
	text-indent: -20px;
}

.link-item:before {
	content: "• ";
	padding-right: 5px;
}

.call-to-action {
	text-align: center;
	font-size: 1em;
	margin: 60px 0;
}

/* Accordion Styles */
.card {
    border: none;
    border-radius: 0; /* Square corners */
    margin-bottom: 0px; /* Adjust the spacing around cards */
}

.card-header {
    background-color: #121523; /* Match the background color of your website */
	padding: 0px; /* Adjust the spacing around cards */
	font-weight: 700;


}

.card-header button {
    color: #fcfcfc; /* Text color for accordion titles */
}

.card-body {
    background-color: #1a1f2a; /* Match the background color of your website */
    color: #9a8bf1;
}

/* Adjust the border color when hovering over the accordion titles */
.card-header:hover {
    border-color: #2780e0;
}